[submodule "stylus-lib"]
	path = stylus-lib
	url = https://github.com/OffchainLabs/stylus-sdk-c
[submodule "p256"]
	path = p256
	url = https://github.com/oreparaz/p256
[submodule "wasi-sdk"]
	path = wasi-sdk
	url = https://github.com/WebAssembly/wasi-sdk
